body {
  background-color: #FFF;
}
#main {
  width: 640px;
  margin: 0px auto;
}
h1#megumi {
  margin: 50px auto;
  text-align: center;
  font-family: "Times New Roman";
}
#select_box {
  padding: 20px;
  border: 1px black solid;
  border-radius: 20px;
  background-color: #FFF8FF;
}
#select_box h1 {
  text-align: center;
}
#select_box ul{ 
  margin: 0; 
  padding: 0; 
  list-style-type: none; 
}
#select_box li{ 
  display: inline; 
  padding: 0; 
  margin: 0; 
}
#select_box li a{
  display: block;
  text-decoration: none;
  color: #333;
  width: 450px; 
  margin: 15px auto;
  text-align: center;
  font-size: 14px;
}
#select_box li.yes a{
  font-size: large;
  border: 1px solid green;
  background-color: #d7efd7;
  border-radius: 12px;
  padding: 20px;
  height: 18px;
}
#select_box li.no a{
  border: 1px solid red;
  background-color: #efd7d7;
  border-radius: 8px;
  padding: 10px;
  height: 10px;
}
#select_box li a:hover{
  border: 1px solid white;
  background-color: white;
}
dt {
  font-weight: bold;
  margin: 20px 0 0 0;
}