!!! 5
%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "application.css"}
    %title ☆☆西岡めぐみのホームページ☆☆
  %body
    #main
      %h1#megumi NISHIOKA.MEGUMI.ONLINE
      #select_box
        ※注意
        %br
        このサイトは西岡めぐみに関する情報を同期、ゼミ関係者の方に提供することを目的として作成されています。
        %h1 あなたは関係者ですか？
        %ul
        %li.yes
          %a{:href => "http://nishioka.megumi.online/"}
            はい。私は
            %b 関係者
            です。
        %li.no
          %a{:href => "https://github.com/hidesys"}
            いいえ。私は
            %b プログラマ
            です。
            %small GitHubへ続ける
        %li.no
          %a{:href => "http://hidesys.net/"}
            いいえ。私は
            %b 創作物閲覧者
            です。
            %small 創作物サイトへ続ける