!!! 5
%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "application.css"}
    %title ☆☆西岡めぐみについて☆☆
  %body
    #main
      %h1#megumi NISHIOKA.MEGUMI.ONLINE
      %dl
        %dt 名前
        %dd 西岡めぐみ
        %dt Name
        %dd Nishioka Megumi
        %dt 生年月日
        %dd 1990年8月6日
        %dt 大学
        %dd 2009年4月～ 神奈川国際大学 国際学部 グローバル・イノベーション学科
        %dd 2014年4月～ 神奈川国際大学大学院 国際関係研究科 国際イノベーション学専攻 修士課程
        %dd 2015年8月～ ウニベルシタス・ザカール・バリクパパン(Universitas Zakar Balikpapan, Indonesia)、Fakultas Hubungan internasional. S2.
        %dt 論文等
        %dd 工事中
        %dt 興味・関心
        %dd 海外旅行、食べ物を食べること。
        %dt コンタクト
        %dd Email: info◎megumi.online （◎を@に置き換えてください）
        %dd
          Twitter:
          %a{:href => "http://twitter.com/MegumiFunction", :target => "_blank"} @MegumiFunction
